/* I will do it again in SASS
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}


body {
	line-height: 1;
  font-family: "Lato","Avenir Next",sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



nav {
  background-color : #272727;
  width : 100%;
  height : 40px;
}

header {
  position : relative;
  background-image : url('../asset/img/NY.jpg');
  background-position : bottom;
  background-repeat : no-repeat;
  background-attachment: fixed;
  background-size : cover;
  height : auto;
  min-height : 86vh;
}

main {
  text-align: center;
  padding-top : 40px;
  background-color : #F7F7F7;
}

section {
}

footer {
  background-color : #272727;
  color : #fff;
  text-align : center;
  font-size : 12px;
  padding : 40px;
}
footer p {
  padding-bottom : 20px;
}

p {
  margin : 0;
}


.header--box {
  position : absolute;
  margin : auto;
  top : 29%;
  left : 38%;
  width: 400px;
  padding : 10px;
  background-color : #fff;
  border-radius : 7px;
  text-align: center;
  vertical-align: center;
}

.header--box--img {
  position: relative;
  width : 90%;
  height : 150px;
  background-image: url('img/logo.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.header--box--info p {
  font-size : 12px;
  padding-bottom : 10px;
}
.header--box--info {
  padding-bottom : 40px;
}

.header--box--button {
  padding-bottom : 50px;
}

.header--box--button a {
  background : #272727;
  padding-left : 5px;
  padding-right : 5px;
  padding-top : 10px;
  padding-bottom : 10px;
  color : #F7F7F7;
  font-weight : 500;
  text-decoration: none;
  font-size : 11px;
  border-radius : 5px;
  text-transform: uppercase;
  transition : all 0.2 ease-in-out;
  border:1px solid #fff;

}

.header--box--button a:hover {
  background : #F7F7F7;
  color: #272727;
  border:1px solid #272727;

}
.main--title {
  font-size : 24px;
  padding-bottom : 50px;
}

.main--search {
  padding-bottom : 30px;
}

.main--search p {
  padding-bottom : 30px;
}

.main--search input[type=submit] {
  background : #272727;
  padding : 5px 15px;
  color : #F7F7F7;
  font-weight : 500;
  text-decoration: none;
  font-size : 11px;
  border-radius : 5px;
}

.main--search input[type=submit]:hover {
  background : #F7F7F7;
  color: #272727;
  border:1px solid #272727;
}


.main--stock {
  height : 100vh;
}

.main--categories {
 height : 50vh;
}

.end {
  position : relative;
  background-image : url('../asset/img/NY.jpg');
  background-position : bottom;
  background-repeat : no-repeat;
  background-attachment: fixed;
  background-size : cover;
  height : auto;
  min-height : 80vh;
}

.end--txt {
  position : relative;
  display: block;
  vertical-align : middle;
  text-align: center;
  top : 30vh;
  font-style : italic;
}

.end--txt p {
  display : inline-block;
  background-color : grey;
  color : #F7F7F7;
  padding : 5px;
  font-size : 22px;
  margin-bottom : 10px;
}
.end--txt span {
    display : inline-block;
  padding : 5px;
  background-color : #272727;
  color : #F7F7F7;
  font-size : 14px;
}
